<% content_for :title, 'Main page' %>
<h1>All posts</h1>
<div id='new_post'>
<p><%= render 'form' %></p>
</div>
<table class="table" id="posts">
	<th>Name</th>
	<th>Message</th>
    <th>Number of comments</th>
		<%= render @posts %>
</table>
